In [50]:
import pandas as pd
test = pd.read_csv("/Users/u020/project3/project3/2022년_도로교통공단_도로종류별 가해운전자 차종별 교통사고 통계_20221231.csv", sep=",", header=0, engine='python', encoding='cp949')
test.to_csv("/Users/u020/project3/project3/도로교통공단도로종류별가해운전자차종별교통사고통계20221231.csv", index=False)

In [51]:
test.head()

   도로종류 가해자차종   사고건수  사망자수  중상자수   경상자수  부상신고자수
0  일반국도   승용차  13299   224  3540  16314    1135
1  일반국도   승합차   1104    14   357   1301     130
2  일반국도   화물차   3276   116  1066   3770     268
3  일반국도   특수차    187     7    57    218      19
4  일반국도   이륜차   1438    70   438   1206     231

In [52]:
import pandas as pd
test2 = pd.read_csv("/Users/u020/project3/project3/2022년_도로교통공단_도로종류별 기상상태별 교통사고 통계_20221231.csv", sep=",", header=0, engine='python', encoding='cp949')
test2.to_csv("/Users/u020/project3/project3/도로종류별_기상상태별_교통사고통계20221231.csv", index=False)
test2.head()

   도로종류 기상상태   사고건수  사망자수  중상자수   경상자수  부상신고자수
0  일반국도   맑음  18348   386  5163  21293    1786
1  일반국도   흐림    761    27   236    839      72
2  일반국도    비   1100    40   330   1262     108
3  일반국도   안개     34     3    12     37       2
4  일반국도    눈    178     7    43    201      31

In [53]:

import pandas as pd
test2 = pd.read_csv("/Users/u020/project3/project3/2022년_도로교통공단_도로종류별 도로형태별 교통사고 통계_20221231.csv", sep=",", header=0, engine='python', encoding='cp949')
test2.to_csv("/Users/u020/project3/project3/도로종류별 도로형태별 교통사고 통계_20221231.csv", index=False)
test2.head()

   도로종류 도로형태_대분류       도로형태  사고건수  사망자수  중상자수  경상자수  부상신고자수
0  일반국도      단일로        터널안   116     3    42   183      16
1  일반국도      단일로        교량위   144     9    65   165      18
2  일반국도      단일로      고가도로위   108     6    35   141       5
3  일반국도      단일로  지하차도(도로)내   417    18   158   481      31
4  일반국도      단일로      기타단일로  8169   294  2383  9369     856

In [54]:



import pandas as pd
test2 = pd.read_csv("/Users/u020/project3/project3/2022년_도로교통공단_도로종류별 시간대별 교통사고 통계_20221231.csv", sep=",", header=0, engine='python', encoding='cp949')
test2.to_csv("/Users/u020/project3/project3/도로종류별 시간대별 교통사고 통계_20221231.csv", index=False)
test2.head()

   도로종류      시간대  사고건수  사망자수  중상자수  경상자수  부상신고자수
0  일반국도  00시-02시   692    29   230   751      69
1  일반국도  02시-04시   350    23   121   329      36
2  일반국도  04시-06시   486    37   182   455      43
3  일반국도  06시-08시  1305    30   401  1349     114
4  일반국도  08시-10시  2286    38   575  2587     215

In [55]:




import pandas as pd
test2 = pd.read_csv("/Users/u020/project3/project3/2022년_도로교통공단_도로종류별 요일별 교통사고 통계_20221231.csv", sep=",", header=0, engine='python', encoding='cp949')
test2.to_csv("/Users/u020/project3/project3/도로종류별 요일별 교통사고 통계_20221231.csv", index=False)
test2.head()

   도로종류 요일  사고건수  사망자수  중상자수  경상자수  부상신고자수
0  일반국도  일  2292    65   709  3003     251
1  일반국도  월  3010    74   862  3473     272
2  일반국도  화  3013    78   828  3305     247
3  일반국도  수  3026    62   782  3342     311
4  일반국도  목  3041    67   836  3356     319

In [56]:

import pandas as pd
# 행정구역별 시군구 인구수 엑셀 파일 정리  -> 인구수 , 2023.11 
population = pd.read_excel("./고속도로 사고.xlsx")
population.head()

,<표 2-241> 고속국도사고 노선별 현황,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57
0,구분\n노선,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,부상자수,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,구성비
2,합계,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10315,NaN,NaN,NaN,NaN,NaN,100
3,경부,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2184,NaN,NaN,NaN,NaN,NaN,21.2
4,남해,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,245,NaN,NaN,NaN,NaN,NaN,2.4

In [57]:

import pandas as pd
# 행정구역별 시군구 인구수 엑셀 파일 정리  -> 인구수 , 2023.11 
population = pd.read_excel("./도로별 사고누적구간 사고지표.xls")
population.head(100)

/Users/u020/.pyenv/versions/3.10.7/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,도로별 사고누적구간 사고지표,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,구간명,발생건수,대형사고,사망자수,치사율(%),통합지수,보기,MOTOCY_CNT,CYCLE_CNT,WALK_CNT,DRK
1,부산 금정구 415~416Km,8,0,0,0,1.353333,NaN,NaN,NaN,NaN,NaN
2,부산 금정구 394~395Km,6,0,0,0,0.9,NaN,NaN,NaN,NaN,NaN
3,부산 금정구 414~415Km,6,0,0,0,0.4,NaN,NaN,NaN,NaN,NaN
4,부산 금정구 387~388Km,5,0,1,20,2.406667,NaN,NaN,NaN,NaN,NaN
5,부산 금정구 360~361Km,5,0,0,0,0.946667,NaN,NaN,NaN,NaN,NaN
6,부산 금정구 423~424Km,5,0,0,0,0.946667,NaN,NaN,NaN,NaN,NaN
7,부산 금정구 416~417Km,4,0,0,0,1.633333,NaN,NaN,NaN,NaN,NaN
8,부산 금정구 402~403Km,4,0,0,0,1.233333,NaN,NaN,NaN,NaN,NaN
9,부산 금정구 420~421Km,4,0,0,0,0.853333,NaN,NaN,NaN,NaN,NaN
10,부산 금정구 378~379Km,4,0,0,0,0.653333,NaN,NaN,NaN,NaN,NaN
11,부산 금정구 418~419Km,4,0,0,0,0.533333,NaN,NaN,NaN,NaN,NaN
12,부산 금정구 379~380Km,3,1,0,0,1.08,NaN,NaN,NaN,NaN,NaN
13,부산 금정구 326~327Km,3,0,0,0,1.586667,NaN,NaN,NaN,NaN,NaN
14,부산 금정구 30~31Km,3,0,0,0,1.193333,NaN,NaN,NaN,NaN,NaN
15,부산 금정구 334~335Km,3,0,0,0,0.986667,NaN,NaN,NaN,NaN,NaN
16,부산 금정구 139~140Km,3,0,0,0,0.693333,NaN,NaN,NaN,NaN,NaN
17,부산 금정구 18~19Km,3,0,0,0,0.553333,NaN,NaN,NaN,NaN,NaN
18,부산 금정구 392~393Km,3,0,0,0,0.553333,NaN,NaN,NaN,NaN,NaN
19,부산 금정구 407~408Km,3,0,0,0,0.42,NaN,NaN,NaN,NaN,NaN
20,부산 금정구 412~413Km,3,0,0,0,0.566667,NaN,NaN,NaN,NaN,NaN
21,부산 금정구 395~396Km,3,0,0,0,0.26,NaN,NaN,NaN,NaN,NaN
22,부산 금정구 421~422Km,3,0,0,0,0.42,NaN,NaN,NaN,NaN,NaN
23,부산 금정구 369~370Km,3,0,0,0,0.433333,NaN,NaN,NaN,NaN,NaN
24,합계,91,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:

import pandas as pd
# 행정구역별 시군구 인구수 엑셀 파일 정리  -> 인구수 , 2023.11 
road_416_417 = pd.read_excel("./경부고속도로사고누적구간사고구조분석표416~417.xls")
road_416_417

/Users/u020/.pyenv/versions/3.10.7/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,사고구조분석표,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,일련번호,년도,월,일,요일,시각,사고등급,사망자수,중상자수,경상자수,...,NaN,관련자2,사고형태,기상상태,일광상태,사고유형1,사고유형2,법규위반,도로종류,ACC_NO
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,용도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2019,09,30,월요일,07,경상사고,0,0,1,...,사업용,화물,진입회전사고,맑음,출퇴근,차대차,측면직각충돌,안전운전불이행,특별광역시도,NaN
3,2,2019,10,30,수요일,01,경상사고,0,0,2,...,비사업용,승용,일직선사고,맑음,심야,차대차,추돌(진행중),과속,기타,NaN
4,3,2019,10,10,목요일,13,경상사고,0,0,1,...,비사업용,승용,기타사고,맑음,주간,차대차,차대차-기타,안전운전불이행,고속국도,NaN
5,4,2020,05,17,일요일,15,중상사고,0,5,8,...,비사업용,승합,진입회전사고,맑음,주간,차대차,측면직각충돌,안전운전불이행,고속국도,NaN
6,5,2020,08,19,수요일,22,경상사고,0,0,1,...,비사업용,승용,일직선사고,맑음,심야,차대차,추돌(진행중),안전운전불이행,특별광역시도,NaN
7,6,2021,06,01,화요일,13,경상사고,0,0,1,...,비사업용,화물,진입회전사고,맑음,주간,차대차,측면직각충돌,안전거리미확보,고속국도,NaN

In [78]:

import pandas as pd
# 행정구역별 시군구 인구수 엑셀 파일 정리  -> 인구수 , 2023.11 
road_421_422 = pd.read_excel("./경부고속도로사고구조분석표(상세)금정구421~422.xls")
road_421_422

/Users/u020/.pyenv/versions/3.10.7/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,사고구조분석표,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,일련번호,년도,월,일,요일,시각,사고등급,사망자수,중상자수,경상자수,...,NaN,관련자2,사고형태,기상상태,일광상태,사고유형1,사고유형2,법규위반,도로종류,ACC_NO
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,용도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2019,05,17,금요일,22,경상사고,0,0,1,...,사업용,승용,일직선사고,맑음,심야,차대차,추돌(진행중),안전운전불이행,특별광역시도,NaN
3,2,2019,05,10,금요일,22,경상사고,0,0,6,...,비사업용,화물,일직선사고,맑음,심야,차대차,추돌(진행중),안전운전불이행,특별광역시도,NaN
4,3,2019,09,12,목요일,00,경상사고,0,0,3,...,비사업용,승용,기타사고,맑음,심야,차대차,차대차-기타,안전거리미확보,특별광역시도,NaN
5,4,2021,06,03,목요일,13,경상사고,0,0,1,...,비사업용,승용,진입회전사고,비,주간,차대차,측면직각충돌,안전운전불이행,특별광역시도,NaN
6,5,2021,09,17,금요일,18,경상사고,0,0,2,...,비사업용,승합,진입회전사고,맑음,출퇴근,차대차,측면직각충돌,안전거리미확보,특별광역시도,NaN
7,6,2021,12,04,토요일,13,경상사고,0,0,2,...,사업용,화물,기타사고,맑음,주간,차대차,차대차-기타,안전거리미확보,특별광역시도,NaN

In [68]:
road_416_417.insert(0, column="Accident section", value="부산 금정구 416~417Km")

In [65]:

road_421_422.insert(0, column="Accident section", value="부산 금정구 421~422Km")

In [61]:
population.head()
# 각 행 열의 구조 
population.shape

(25, 11)

In [75]:
combine = pd.concat([road_416_417, road_421_422], axis=0, ignore_index=True)
combine

,Accident section,사고구조분석표,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,부산 금정구 416~417Km,일련번호,년도,월,일,요일,시각,사고등급,사망자수,중상자수,...,NaN,관련자2,사고형태,기상상태,일광상태,사고유형1,사고유형2,법규위반,도로종류,ACC_NO
1,부산 금정구 416~417Km,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,용도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,부산 금정구 416~417Km,1,2019,09,30,월요일,07,경상사고,0,0,...,사업용,화물,진입회전사고,맑음,출퇴근,차대차,측면직각충돌,안전운전불이행,특별광역시도,NaN
3,부산 금정구 416~417Km,2,2019,10,30,수요일,01,경상사고,0,0,...,비사업용,승용,일직선사고,맑음,심야,차대차,추돌(진행중),과속,기타,NaN
4,부산 금정구 416~417Km,3,2019,10,10,목요일,13,경상사고,0,0,...,비사업용,승용,기타사고,맑음,주간,차대차,차대차-기타,안전운전불이행,고속국도,NaN
5,부산 금정구 416~417Km,4,2020,05,17,일요일,15,중상사고,0,5,...,비사업용,승합,진입회전사고,맑음,주간,차대차,측면직각충돌,안전운전불이행,고속국도,NaN
6,부산 금정구 416~417Km,5,2020,08,19,수요일,22,경상사고,0,0,...,비사업용,승용,일직선사고,맑음,심야,차대차,추돌(진행중),안전운전불이행,특별광역시도,NaN
7,부산 금정구 416~417Km,6,2021,06,01,화요일,13,경상사고,0,0,...,비사업용,화물,진입회전사고,맑음,주간,차대차,측면직각충돌,안전거리미확보,고속국도,NaN
8,부산 금정구 421~422Km,일련번호,년도,월,일,요일,시각,사고등급,사망자수,중상자수,...,NaN,관련자2,사고형태,기상상태,일광상태,사고유형1,사고유형2,법규위반,도로종류,ACC_NO
9,부산 금정구 421~422Km,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,용도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,부산 금정구 421~422Km,1,2019,05,17,금요일,22,경상사고,0,0,...,사업용,승용,일직선사고,맑음,심야,차대차,추돌(진행중),안전운전불이행,특별광역시도,NaN
11,부산 금정구 421~422Km,2,2019,05,10,금요일,22,경상사고,0,0,...,비사업용,화물,일직선사고,맑음,심야,차대차,추돌(진행중),안전운전불이행,특별광역시도,NaN
12,부산 금정구 421~422Km,3,2019,09,12,목요일,00,경상사고,0,0,...,비사업용,승용,기타사고,맑음,심야,차대차,차대차-기타,안전거리미확보,특별광역시도,NaN
13,부산 금정구 421~422Km,4,2021,06,03,목요일,13,경상사고,0,0,...,비사업용,승용,진입회전사고,비,주간,차대차,측면직각충돌,안전운전불이행,특별광역시도,NaN
14,부산 금정구 421~422Km,5,2021,09,17,금요일,18,경상사고,0,0,...,비사업용,승합,진입회전사고,맑음,출퇴근,차대차,측면직각충돌,안전거리미확보,특별광역시도,NaN
15,부산 금정구 421~422Km,6,2021,12,04,토요일,13,경상사고,0,0,...,사업용,화물,기타사고,맑음,주간,차대차,차대차-기타,안전거리미확보,특별광역시도,NaN

In [95]:
import pandas as pd
# 행정구역별 시군구 인구수 엑셀 파일 정리  -> 인구수 , 2023.11 
accidentInfoList = pd.read_excel("./경부고속도로__경기도_accidentInfoList.xlsx")
accidentInfoList.head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2022010100100101,2022년 1월 1일 12시,토요일,경기도 안성시 원곡면,경상사고,0,0,1,0,차대차 - 추돌,...,맑음,단일로 - 기타,승용,여,20세,상해없음,승용,남,27세,경상
1,2022010200100040,2022년 1월 2일 09시,일요일,경기도 용인시 기흥구 고매동,경상사고,0,0,2,0,차대차 - 기타,...,맑음,단일로 - 기타,화물,남,54세,상해없음,승용,남,32세,경상
2,2022010200100107,2022년 1월 2일 13시,일요일,경기도 용인시 수지구 동천동,경상사고,0,0,8,0,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,남,40세,상해없음,승용,남,49세,경상
3,2022010300100003,2022년 1월 3일 00시,월요일,경기도 성남시 분당구 삼평동,경상사고,0,0,3,0,차대차 - 추돌,...,맑음,단일로 - 기타,승용,남,19세,상해없음,승용,남,27세,상해없음
4,2022010500100003,2022년 1월 5일 00시,수요일,경기도 성남시 수정구 금토동,경상사고,0,0,1,0,차대차 - 추돌,...,맑음,단일로 - 기타,승용,남,63세,상해없음,승용,남,52세,경상

In [96]:

accidentInfoList2 = pd.read_excel("./경부고속도로_경상남도_accidentInfoList.xlsx")
accidentInfoList2.head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2022010200100083,2022년 1월 2일 12시,일요일,경상남도 양산시 상북면,경상사고,0,0,2,1,차대차 - 추돌,...,맑음,단일로 - 기타,승용,남,25세,상해없음,승용,남,33세,경상
1,2022010200100256,2022년 1월 2일 18시,일요일,경상남도 양산시 하북면,경상사고,0,0,3,0,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,29세,상해없음,승용,남,21세,경상
2,2022010900100094,2022년 1월 9일 12시,일요일,경상남도 양산시 상북면,경상사고,0,0,1,0,차대차 - 기타,...,맑음,단일로 - 기타,승합,남,59세,상해없음,승용,여,57세,경상
3,2022020400100132,2022년 2월 4일 11시,금요일,경상남도 양산시 하북면,경상사고,0,0,1,0,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,41세,상해없음,승용,남,27세,경상
4,2022021100100114,2022년 2월 11일 10시,금요일,경상남도 양산시 물금읍,경상사고,0,0,1,0,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,57세,경상,화물,남,48세,상해없음

In [97]:
combine = pd.concat([accidentInfoList, accidentInfoList2], axis=0, ignore_index=True)
combine

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2022010100100101,2022년 1월 1일 12시,토요일,경기도 안성시 원곡면,경상사고,0,0,1,0,차대차 - 추돌,...,맑음,단일로 - 기타,승용,여,20세,상해없음,승용,남,27세,경상
1,2022010200100040,2022년 1월 2일 09시,일요일,경기도 용인시 기흥구 고매동,경상사고,0,0,2,0,차대차 - 기타,...,맑음,단일로 - 기타,화물,남,54세,상해없음,승용,남,32세,경상
2,2022010200100107,2022년 1월 2일 13시,일요일,경기도 용인시 수지구 동천동,경상사고,0,0,8,0,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,남,40세,상해없음,승용,남,49세,경상
3,2022010300100003,2022년 1월 3일 00시,월요일,경기도 성남시 분당구 삼평동,경상사고,0,0,3,0,차대차 - 추돌,...,맑음,단일로 - 기타,승용,남,19세,상해없음,승용,남,27세,상해없음
4,2022010500100003,2022년 1월 5일 00시,수요일,경기도 성남시 수정구 금토동,경상사고,0,0,1,0,차대차 - 추돌,...,맑음,단일로 - 기타,승용,남,63세,상해없음,승용,남,52세,경상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,2022112500100338,2022년 11월 25일 16시,금요일,경상남도 양산시 동면,경상사고,0,0,2,0,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,여,29세,상해없음,승용,남,47세,경상
436,2022112600100228,2022년 11월 26일 13시,토요일,경상남도 양산시 상북면,경상사고,0,0,5,0,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,남,34세,상해없음,승용,여,29세,경상
437,2022112900100210,2022년 11월 29일 11시,화요일,경상남도 양산시 다방동,경상사고,0,0,3,0,차대차 - 기타,...,비,단일로 - 기타,승용,남,50세,상해없음,승용,남,77세,경상
438,2022120900100316,2022년 12월 9일 16시,금요일,경상남도 양산시 하북면,중상사고,0,1,0,0,차대차 - 기타,...,맑음,단일로 - 기타,기타불명,기타불명,미분류,기타불명,승용,남,66세,중상
439,2022122200100279,2022년 12월 22일 15시,목요일,경상남도 양산시 동면,경상사고,0,0,1,0,차대차 - 기타,...,맑음,기타 - 기타,승용,여,65세,상해없음,승용,여,41세,경상

In [110]:

accidentInfoList = pd.read_excel("./accidentInfoList.xlsx")
accidentInfoList

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,2022010100100101,2022년 1월 1일 12시,토요일,경기도 안성시 원곡면,경상사고,0,0,1,0,차대차 - 추돌,...,맑음,단일로 - 기타,승용,여,20세,상해없음,승용,남,27세,경상
1,2022010200100013,2022년 1월 2일 02시,일요일,충청북도 청주시 서원구 남이면,경상사고,0,0,1,0,차대차 - 추돌,...,맑음,단일로 - 기타,승용,남,31세,상해없음,화물,남,56세,경상
2,2022010200100040,2022년 1월 2일 09시,일요일,경기도 용인시 기흥구 고매동,경상사고,0,0,2,0,차대차 - 기타,...,맑음,단일로 - 기타,화물,남,54세,상해없음,승용,남,32세,경상
3,2022010200100083,2022년 1월 2일 12시,일요일,경상남도 양산시 상북면,경상사고,0,0,2,1,차대차 - 추돌,...,맑음,단일로 - 기타,승용,남,25세,상해없음,승용,남,33세,경상
4,2022010200100107,2022년 1월 2일 13시,일요일,경기도 용인시 수지구 동천동,경상사고,0,0,8,0,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,남,40세,상해없음,승용,남,49세,경상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828,2022122900100566,2022년 12월 29일 21시,목요일,대전광역시 동구 비룡동,경상사고,0,0,2,0,차대차 - 추돌,...,맑음,단일로 - 기타,승용,여,43세,상해없음,화물,남,30세,경상
829,2022123000100515,2022년 12월 30일 18시,금요일,경기도 안성시 원곡면,경상사고,0,0,1,0,차대차 - 추돌,...,맑음,단일로 - 기타,기타불명,기타불명,미분류,기타불명,화물,남,80세,경상
830,2022123000100569,2022년 12월 30일 19시,금요일,서울특별시 서초구 신원동,경상사고,0,0,1,0,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,75세,상해없음,승용,남,47세,경상
831,2022123100100323,2022년 12월 31일 16시,토요일,경기도 용인시 기흥구 상갈동,중상사고,0,1,1,0,차대차 - 기타,...,맑음,단일로 - 기타,승용,여,59세,상해없음,승용,남,32세,경상
832,2022123100100349,2022년 12월 31일 17시,토요일,경기도 오산시 원동,경상사고,0,0,2,0,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,56세,기타불명,승용,남,25세,경상

In [101]:
print(accidentInfoList.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 833 entries, 0 to 832
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사고번호        833 non-null    int64
 1   사고일시        833 non-null    object
 2   요일          833 non-null    object
 3   시군구         833 non-null    object
 4   사고내용        833 non-null    object
 5   사망자수        833 non-null    int64
 6   중상자수        833 non-null    int64
 7   경상자수        833 non-null    int64
 8   부상신고자수      833 non-null    int64
 9   사고유형        833 non-null    object
 10  법규위반        833 non-null    object
 11  노면상태        833 non-null    object
 12  기상상태        833 non-null    object
 13  도로형태        833 non-null    object
 14  가해운전자 차종    833 non-null    object
 15  가해운전자 성별    833 non-null    object
 16  가해운전자 연령    833 non-null    object
 17  가해운전자 상해정도  833 non-null    object
 18  피해운전자 차종    821 non-null    object
 19  피해운전자 성별    821 non-null    object
 20  피해운전자 연령    821 non-null    object
 21  피해운전자 상해정도  821 non-null    object
dtypes: int64(5), object(17)
memory usage: 143.3+ KB
None

In [100]:
# 이 코드는 wine 데이터프레임을 '사고일시' 열을 기준으로 그룹화한 뒤, 'quality' 열에 대해 평균(mean), 표준편차(std), 최솟값(min), 최댓값(max)을 계산
accidentInfoList.groupby("사고일시")["quality"].agg(["mean","std","min","max"])

TypeError: agg function failed [how->mean,dtype->object]

In [109]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc

# 한글 폰트 설정
font_path = ""  # 나눔고딕 폰트 경로
font_name = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font_name)

# 데이터 프레임 로드
accidentInfoList = pd.read_excel("./accidentInfoList.xlsx")

# '사고일시' 컬럼을 한글로 된 월과 시간 정보를 포함하는 형식으로 파싱
accidentInfoList['사고일시'] = pd.to_datetime(accidentInfoList['사고일시'], format='%Y년 %m월 %d일 %H시', errors='coerce')

# '사고일시' 컬럼을 날짜 형식으로 변환
accidentInfoList['사고일시'] = pd.to_datetime(accidentInfoList['사고일시'])

# '사고일시' 컬럼에서 월 정보 추출
accidentInfoList['월'] = accidentInfoList['사고일시'].dt.month

# 월별 사고 수 계산
월별_사고수 = accidentInfoList.groupby('월').size().reset_index(name='사고수')

# 막대 그래프로 시각화
plt.figure(figsize=(10, 6))
plt.bar(월별_사고수['월'], 월별_사고수['사고수'], color='skyblue')
plt.xlabel('월')
plt.ylabel('사고 수')
plt.title('월별 사고 수')
plt.xticks(range(1, 13))  # 월별로 X축에 표시
plt.show()

IsADirectoryError: [Errno 21] Is a directory: '/Users/u020/project3/project3'